---
layout: default
---

<div class="Timeline container">
    <ul>
        {% for event in site.data.achievements %}
            <li id="{{ event.slug }}">
                <div class="date p-2">{{ event.date }}</div>
                <div class="icon">{{ event.icon }}</div>
                <div class="event p-2">
                    <a href="#{{ event.slug }}">
                        <strong>{{ event.event }}</strong>
                    </a>

                    {% if event.description %}
                        <p class="text-md text-line-sm text-soft mt-1">{{ event.description }}</p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
