---
layout: default
---

<section class="container pt-1">
    <ul>
        {% for post in site.posts %}
            <li class="mb-5">
                <div class="flex flex-between">
                    <div class="flex-no-shrink mb-1 text-soft text-md">{{ post.date | date: "%B %-d, %Y" }}</div>

                     <div class="text-md text-soft">
                        {% assign words = post.content | number_of_words %}

                        {% if words < 200 %}
                            ~1 min
                        {% else %}
                            ~{{ words | divided_by:100 }} mins
                        {% endif %}
                    </div>
                </div>

                <a href="{{ post.url | prepend: site.baseurl }}" class="text-bold text-lg">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
