<aside class="flex flex-center mt-3 mb-8">

    <div class="text-right mr-1">
        <a href="/" class="block w-8 h-8">
            <img src="https://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="rounded">
        </a>
    </div>

    <div class="ml-1">
        <h1 class="mb-2">Jerguš Lejko</h1>

        <ul class="flex flex-wrap text-md">
            <li class="mr-2 {% if page.url != '/about' %}text-bold{% endif %}">
                <a href="/">Blog</a>
            </li>
            <li class="mr-2 {% if page.url == '/about' %}text-bold{% endif %}">
                <a href="/about">About me</a>
            </li>
            <li class="mr-2">
                <a target="_blank" rel="noopener" href="https://twitter.com/jerguslejko">Twitter</a>
            </li>
            <li class="mr-2">
                <a target="_blank" rel="noopener" href="https://github.com/jerguslejko">Github</a>
            </li>
            <li>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/jergu%C5%A1-lejko-99222379">LinkedIn</a>
            </li>
        </ul>
    </div>

</aside>
