<nav class="pt-8 pb-10">

    <div class="flex flex-center">

        <div class="mr-2">
            <a href="/" class="block w-16 h-16">
                <img src="https://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="rounded">
            </a>
        </div>

        <div class="ml-2">
            <span class="font-display text-bold text-xl">Jerguš Lejko</span>

            <div class="mt-2 sm-hide">
                {% include navbar.html %}
            </div>
        </div>
    </div>

    <div class="mt-4 sm-show">
        {% include navbar.html %}
    </div>
</nav>
