* {
    margin: 0;
    border: 0;
    padding: 0;

    &, &:before, &:after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:hover { text-decoration: underline }
}

ul {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    font-family: consolas, monaco, courier, "courier new", fixed-width;
    color: #333333;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h2, h3, h4, h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}

a {
    color: inherit;
}

article {
    p {
        margin: 2em 0;
        line-height: 2em;
        text-align: justify;
        word-wrap: break-word;
    }

    a {
        font-style: italic;

        &:hover { text-decoration: underline }
    }
}
