.Timeline {
    position: relative;

    @media screen and (max-width: 680px) {
        .date {
            display: none;
        }

        &::after {
            left: 10px !important;
        }

        ul {
            li {
                flex-direction: row !important;

                .icon {
                    padding: 0 !important;
                }

                .event {
                    width: calc(100% - 30px) !important;
                    text-align: left !important;
                }
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #e3e3e3;
        z-index: 0;
    }

    ul {
        position: relative;
        z-index: 1;

        li {
            display: flex;

            &:nth-child(2n) {
                flex-direction: row-reverse;

                .event {
                    text-align: right;
                }
            }

            &:nth-child(2n + 1) {
                flex-direction: row;
                .date {
                    text-align: right;
                }
            }

            .icon {
                display: flex;
                align-items: center;
                padding-left: 5px; // use this instead of justify-content, because I DON'T FUCKING KNOW
                width: 30px;
                height: 60px;
                background: $background;
            }

            .date,
            .event {
                width: calc(50% - 15px);
            }
        }
    }
}
