<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <div class="bg-default p-4">
            {% include header.html %}

            <main class="mb-3">
                {{ content }}
            </main>

            {% include footer.html %}
        </div>
    </body>
</html>
