<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <div class="flex flex-col flex-between bg-default p-4 wrapper">
            <div>
                {% include header.html %}

                <main class="mb-3">
                    {{ content }}
                </main>
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
