---
layout: default
---

<article class="container pt-1">
    <div class="text-center mb-5">
        <h1 class="mb-1">{{ page.title }}</h1>
        <time>{{ page.date | date: '%B %-d, %Y' }}</time>
    </div>

    <div class="text-dark">
       {{ content }}
    </div>

    <p class="text-center text-soft">
        Comment below or reach out to me on <a href="https://twitter.com/intent/tweet?text=Hey%20%40jerguslejko!">twitter</a>.
    </p>

    <div id="disqus_thread"></div>

    <script>(function() {var d = document, s = d.createElement('script');s.src = 'https://jergus.disqus.com/embed.js';s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);})();</script>
</article>
